# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=
DB_PORT=54047

# Email Configuration - Mailtrap API
MAILTRAP_API_TOKEN=
MAILTRAP_INBOX_ID=
EMAIL_FROM=noreply@toko-atk.com
EMAIL_FROM_NAME="Toko ATK"
# Application Settings
APP_URL=http://localhost/0PHP_Native
APP_NAME="Toko ATK"
VERIFICATION_EXPIRE=3600